params {
    input                      = "data/*_R{1,2}.fastq.gz"
    outdir                     = "results"
    motus_db                   = "s3://ngs-databases/motus/db_v3"
    eggnog_db                  = "s3://ngs-databases/eggnog/v5.0"
    
    // Process resources
    max_memory                 = '128.GB'
    max_cpus                   = 32
    max_time                   = '24.h'
}

includeConfig 'conf/base.config'

profiles {
    docker {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }
    slurm {
        process.executor       = 'slurm'
        process.queue          = 'workq'
    }
    awsbatch {
        process.executor       = 'awsbatch'
        process.queue          = 'metagenomics-batch-queue'
        aws.region             = 'eu-west-1'
        aws.batch.cliPath      = '/usr/local/bin/aws'
        docker.enabled         = true
        workDir                = 's3://your-metagenomics-bucket/nextflow-work'
    }
}
