params {
    // Input/Output parameters
    reads                      = "data/*_{1,2}.fastq.gz"
    outdir                     = "results"
    
    // Process parameters
    adapter_fasta              = null
    eggnog_db                  = "/data/eggnog-mapper-data"
    
    // Execution profiles &amp; defaults
    max_memory                 = '32.GB'
    max_cpus                   = 16
    max_time                   = '24.h'
}

process {
    cpus   = 4
    memory = '8.GB'
    time   = '2.h'
    
    // Container images (Biocontainers) and resource allocations
    withName: FASTP {
        container = 'quay.io/biocontainers/fastp:0.23.4--h87f3051_1'
        cpus      = 8
        memory    = '16.GB'
    }
    withName: MOTUS_PROFILE {
        container = 'quay.io/biocontainers/motus:3.1.0--pyhdfd78af_0'
        cpus      = 8
        memory    = '16.GB'
    }
    withName: MEGAHIT {
        container = 'quay.io/biocontainers/megahit:1.2.9--h2e03b76_1'
        cpus      = 16
        memory    = '32.GB'
    }
    withName: EGGNOG_MAPPER {
        container = 'quay.io/biocontainers/eggnog-mapper:2.1.12--pyhdfd78af_0'
        cpus      = 16
        memory    = '32.GB'
    }
    withName: COVERM {
        container = 'quay.io/biocontainers/coverm:0.6.1--h07ea13f_1'
        cpus      = 16
        memory    = '16.GB'
    }
    withName: MULTIQC {
        container = 'quay.io/biocontainers/multiqc:1.19--pyhdfd78af_0'
        cpus      = 2
        memory    = '4.GB'
    }
}

profiles {
    docker {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }
    awsbatch {
        process.executor       = 'awsbatch'
        process.queue          = 'nextflow-batch-queue'
        aws.region             = 'eu-west-1'
    }
    slurm {
        process.executor       = 'slurm'
        process.queue          = 'medium'
    }
}