params {
    input                      = "data/*_R{1,2}.fastq.gz"
    outdir                     = "results"
    motus_db                   = "s3://ngs-databases/motus/db_v3"
    eggnog_db                  = "s3://ngs-databases/eggnog/v5.0"
    
    // Process resources
    max_memory                 = '128.GB'
    max_cpus                   = 32
    max_time                   = '24.h'
}

process {
    cpus   = { check_max( 2 * task.attempt, 'cpus' ) }
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    time   = { check_max( 2.h * task.attempt, 'time' ) }

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 2

    withName: FASTP {
        cpus   = 4
        memory = 8.GB
    }
    withName: MOTUS {
        cpus   = 8
        memory = 16.GB
    }
    withName: MEGAHIT {
        cpus   = 16
        memory = 64.GB
    }
    withName: EGGNOG {
        cpus   = 16
        memory = 32.GB
    }
    withName: COVERM {
        cpus   = 8
        memory = 16.GB
    }
}

profiles {
    docker {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }
    slurm {
        process.executor       = 'slurm'
        process.queue          = 'workq'
    }
    awsbatch {
        process.executor       = 'awsbatch'
        process.queue          = 'metagenomics-batch-queue'
        aws.region             = 'eu-west-1'
        aws.batch.cliPath      = '/usr/local/bin/aws'
        docker.enabled         = true
        workDir                = 's3://your-metagenomics-bucket/nextflow-work'
    }
}

def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            return obj
        }
    }
}
