process {
    cpus   = { check_max( 2 * task.attempt, 'cpus' ) }
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    time   = { check_max( 2.h * task.attempt, 'time' ) }

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 2

    withName: FASTP {
        cpus   = 4
        memory = 8.GB
    }
    withName: MOTUS {
        cpus   = 8
        memory = 16.GB
    }
    withName: MEGAHIT {
        cpus   = 16
        memory = 64.GB
    }
    withName: EGGNOG {
        cpus   = 16
        memory = 32.GB
    }
    withName: COVERM {
        cpus   = 8
        memory = 16.GB
    }
}
